@page
@model MascotaFeliz.App.Frontend.Pages.EditarVeterinariosModel
@{
    int veterinarioId = Model.veterinario.Id;
}
<link rel="stylesheet" href="~/css/editarVeterinario.css">
<link rel="stylesheet" href="~/css/style.css">
<link rel="stylesheet" href="~/css/form.css">
<div class="contenedor-principal">

    <form method="post">
        <h3>Edicion o Creacion de Veterinarios</h3>
        <div class="contenedor">
            <input type="hidden" asp-for = "veterinario.Id">
            <input asp-for="veterinario.Nombres" placeholder="Nombres">
            <input asp-for="veterinario.Apellidos" placeholder="Apellidos">
            <input asp-for="veterinario.Direccion" placeholder="Direccion">
            <input asp-for="veterinario.Telefono" placeholder="Telefono">
            <input asp-for="veterinario.TarjetaProfesional" placeholder="TarjetaProfesional">

            <div class="contenedor-botones">
                <button type="submit" class="boton">Guardar</button>
                <button class="boton" type="button"><a asp-page="./ListaVeterinarios" >Lista de Veterinarios</a></button>
            </div>

        </div>
    </form>

    <div class="contenedor-img">
        <img src="../img/Veterinario.jpg" alt="Veterinario">
    </div>
</div>
