@page
@model IndexModel
@{
    ViewData["Title"] = "Inicio";
}
<link rel="stylesheet" href="~/css/style.css">
<link rel="stylesheet" href="~/css/index.css">
<main>
		<div></div>
		<section id="inicio">
			<div class="contenedor">
				<h2 class="titulo-principal">Bienvenido</h2>
			</div>
			<div class="contenedor">
				<p class="cuerpo-principal">Sabemos lo que significan para ti. Por eso, el mejor lugar es Mascota feliz.</p>
			</div>
		</section>

	</main>