@page
@model MascotaFeliz.App.Frontend.Pages.EditarDuenosModel
@{
    int duenoId = Model.dueno.Id;
}
<link rel="stylesheet" href="~/css/editarDueno.css">
<link rel="stylesheet" href="~/css/style.css">
<link rel="stylesheet" href="~/css/form.css">
<h3>Edicion o Creacion de Propietarios</h3>
<div class="contenedor-principal">

    <form method="post">
        <div class="contenedor">
            <input type="hidden" asp-for = "dueno.Id">
            <input asp-for="dueno.Nombres" placeholder="Nombres">
            <input asp-for="dueno.Apellidos" placeholder="Apellidos">
            <input asp-for="dueno.Direccion" placeholder="Direccion">
            <input asp-for="dueno.Telefono" placeholder="Telefono">
            <input asp-for="dueno.Correo" placeholder="Correo">
        <div class="contenedor-botones">
            <button type="submit" class="boton">Guardar</button>
        </div>

        </div>
    </form>

    <div class="contenedor-img">
        <img src="../img/Dueno.jpg" alt="">
    </div>
</div>
