@page
@model MascotaFeliz.App.Frontend.Pages.ListaDuenosModel
@{
}
<link rel="stylesheet" href="~/css/listaDueno.css">
<link rel="stylesheet" href="~/css/style.css">
<h2>Lista de Propietarios</h2>
<table class="table">

    @foreach(var dueno in Model.listaDuenos)
    {
        <tr>

            <td>@dueno.Nombres</td>
            <td>@dueno.Apellidos</td>

            <td>
                <a class="btn btn-primary table-btn" asp-page="./DetallesDuenos" asp-route-duenoId="@dueno.Id">
                    Detalle Dueño 
                </a>
            </td>

            <td>
                <a class="btn btn-primary table-btn" asp-page="./EditarDuenos" asp-route-duenoId="@dueno.Id" >
                    Editar Dueño
                </a>
            </td>
        </tr>
        
    }

</table>
<a asp-page="./EdutarDuenos" class="boton"> Adicionar Dueño </a>