@page
@model MascotaFeliz.App.Frontend.Pages.EditarMascotasModel
@{
    int mascotaId = Model.mascota.Id;
}

<link rel="stylesheet" href="~/css/style.css">
<link rel="stylesheet" href="~/css/form.css">

<h3>Edicion o Creacion de Mascotas</h3>
<div class="contenedor-principal">

    <form method="post">
        <div class="contenedor">
            <input type="hidden" asp-for = "mascota.Id">
            <input asp-for="mascota.Nombre" placeholder="Nombre">
            <input asp-for="mascota.Color" placeholder="Color">
            <input asp-for="mascota.Especie" placeholder="Especie">
            <input asp-for="mascota.Raza" placeholder="Raza">


            <div class="contenedor-botones">
                <button type="submit" class="boton">Guardar</button>
                <button class="boton"><a asp-page="./ListaMascotas">Lista de Mascotas</a></button>
            </div>

        </div>
    </form>

    <div class="contenedor-img">
        <img src="../img/gatoYPerro.png" alt="Gato y perro" class="img-mascota">
    </div>
</div>
