<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Mascota Feliz</title>
    <link rel="stylesheet" href="~/css/style.css">

    
</head>
<body>
    <header>
        <img src="../img/logoblanco128px.png" alt="logo" class="logo">
		<nav>
			<ul class="navegacion">
				<li><a href="../Index">Inicio</a></li>
				<li><a href="#">Mascotas</a>
					<ul> 
						<li class="menu"><a asp-page="/Mascotas/EditarMascotas" class="submenu-primero">Crear Mascotas</a></li>
						<li><a asp-page="/Mascotas/ListaMascotas">Listar Mascotas</a></li> 
					</ul> 
				</li>
				<li><a href="#">Proprietarios</a>
					<ul> 
						<li><a asp-page="/Duenos/EditarDuenos" class="submenu-primero">Crear Propietarios</a></li> 
						<li><a asp-page="/Duenos/ListaDuenos">Listar Propietarios</a></li> 
					</ul> 
				</li>
				<li><a href="#">Veterinarios</a>
					<ul> 
						<li><a asp-page="/Veterinarios/EditarVeterinarios" class="submenu-primero">Crear Veterinario</a></li> 
						<li><a asp-page="/Veterinarios/ListaVeterinarios">Listar Veterinarios</a></li> 
					</ul> 
				</li>
			</ul>
		</nav>

        @* <nav>
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-page="/Index">MascotaFeliz</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-page="/Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-page="/Privacy">Privacy</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-page="/Duenos/ListaDuenos">Dueños</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav> *@
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    @* <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2022 - MascotaFeliz.App.Frontend - <a asp-area="" asp-page="/Privacy">Privacy</a>
        </div>
    </footer> *@
    <footer id="main-footer">
	    <p class="text-footer">&copy; 2022 IKIGAI - Grupo 13 - Ciclo 3</p>
    </footer>


    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @RenderSection("Scripts", required: false)
</body>
</html> 
