form{
    box-shadow: 0px 0px 5px 0px #333333;
    font-family:'Segoe UI', Tahoma, Verdana, sans-serif;
    border-radius: 5px;
    width: 450px;
    /* margin: auto; */
    padding: 20px 0px ;
    background-color: white;
}
form input{
    display: block;
    margin: auto;
    margin-bottom: 10px;
    padding: 5px;
    border: 1px solid #B5B2B2;
}
.select{
    /* box-shadow: 0px 0px 5px 0px #333333; */
    display: block;
    margin: auto;
    margin-bottom: 10px;
    padding: 5px;
    border: 1px solid #B5B2B2;
    width: 185px;
    border-radius: 5px;
}

.enviar{
    background:#008CBA ;
    color: aliceblue;
    font-weight: 600;
    padding: 5px;
    width: 250px;
    box-shadow: 0px 0px 5px 0px #333333;
    border: none;
    margin-top: 1.3rem;
}
.enviar:hover{
    background:#B5B2B2;
    color: black;
    font-weight: 600;
    padding: 5px;
    width: 250px;
    cursor: pointer;
}

input{
    border-radius: 5px;
}

a{
    text-decoration: none;
    display: inline-block;
}

.contenedor-principal{
    padding: 50px 0px;
    display: flex;
    align-items: center;
    justify-content: space-around;

}

.contenedor{
    background: white;
    padding: 25px;
    border-radius: 5px;
    text-align: center;
}

.contenedor-botones{
    padding-top: 25px;
}
.contenedor-img{

    text-align: center;

}